<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/Scripts/jqueryMobile/jquery.mobile-1.4.5.css" />
    <link rel="stylesheet" href="~/Style/cssStyle.css">
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jqueryMobile/jquery.mobile-1.4.5.js"></script>
    <script src="~/Scripts/jqueryMobile/jquery.mobile-1.4.5.min.js"></script>
    <title>Welcome To Another Random Movie Site!</title>
</head>
<body>

    <div data-role="page" data-theme="b" class="mainPage">
        <div data-role="header" class="head">
            <h1><b>A Very Special Movie Site</b></h1><a href="~/Login.cshtml" data-icon="gear" class="ui-btn-right">Login</a><a href="~/Default.cshtml" data-icon="home" class="ui-btn-left">Home</a>
            <div data-role="navbar">
                <ul>
                    <li><h3 class="listItem"><a href="~/News.cshtml">News</a></h3></li>
                    <li><h3 class="listItem"><a href="~/Reviews.cshtml">Reviews</a></h3></li>
                    <li><h3 class="listItem"><a href="~/Articles.cshtml">Very Smart Articles</a></h3></li>
                </ul>
            </div>
        </div>

        <div data-role="content">
            <p style="text-align: left">ARTICLES</p>
            <div class="headLineText">Could Social Justice Warriors Be The Dutch Elm Disease Of Hollywood?</div>
            <img style="text-align:center" src="~/Style/Images/seven_veljohnson_00.jpg" /><!--Image source http://www.millionaireplayboy.com/mpb/wp-content/uploads/2010/09/seven_veljohnson_00.jpg-->
            <p style="text-align: center">
                Narwhal artisan forage salvia vaporware, sustainable art party craft beer freegan meh selvage bespoke live-edge affogato. Williamsburg raw denim distillery banjo poutine fam. Vexillologist etsy pinterest hammock four dollar toast copper mug. Whatever humblebrag hammock intelligentsia quinoa, messenger bag freegan meh mlkshk bicycle rights lo-fi selfies cray. Mumblecore XOXO gluten-free, succulents artisan drinking vinegar blue bottle church-key street art cliche shabby chic food truck snackwave readymade. Pabst pug af cronut portland austin. Cliche lyft master cleanse crucifix authentic.

                Bitters poutine occupy aesthetic normcore, drinking vinegar artisan venmo vaporware godard distillery single-origin coffee +1 brunch literally. Mlkshk cronut knausgaard, put a bird on it shoreditch schlitz humblebrag tilde try-hard celiac. Fashion axe health goth woke next level shoreditch. Kogi live-edge austin bicycle rights narwhal actually. Twee whatever master cleanse waistcoat readymade stumptown poke. Venmo drinking vinegar cornhole sartorial intelligentsia, farm-to-table narwhal shoreditch +1 migas tattooed. Craft beer waistcoat fashion axe, skateboard af pickled migas sustainable fap coloring book distillery chicharrones butcher.

                Unicorn before they sold out kinfolk, artisan pinterest woke scenester coloring book banjo occupy. Selvage mumblecore ethical vexillologist letterpress, ramps enamel pin. DIY heirloom 3 wolf moon meggings. Celiac jianbing ennui mumblecore lumbersexual. Four dollar toast keffiyeh DIY heirloom. La croix twee cold-pressed wayfarers. Man braid gluten-free aesthetic retro cray crucifix whatever beard, mumblecore cold-pressed bushwick lyft edison bulb plaid.

                Artisan keytar squid small batch, paleo yuccie actually raclette man bun sriracha whatever poke kale chips single-origin coffee. Intelligentsia everyday carry mumblecore, cliche raclette iPhone craft beer pok pok pickled chicharrones affogato subway tile VHS chia. Taxidermy YOLO brooklyn drinking vinegar venmo marfa. Humblebrag biodiesel quinoa, selfies iceland tattooed chicharrones health goth hammock affogato small batch. Readymade pork belly DIY, artisan humblebrag pok pok roof party cronut etsy swag butcher man braid snackwave. Chartreuse cliche aesthetic you probably haven't heard of them shabby chic, twee PBR&B tilde authentic tattooed ugh viral cronut disrupt austin. Try-hard lomo migas vape health goth waistcoat la croix, tousled VHS disrupt intelligentsia mixtape.
            </p>




        </div>
    </div>
</body>
</html>
