@using System;
@using System.Data;
@using System.Xml;
@using System.IO;
@using System.Web.Mvc

@{

    string loginSuccess = null;
    string signUpMessage = "Want to Sign Up?";
    string login = Request["inputLogin"];
    string password = Request["InsertPassword"];
    string newName = Request["newName"];
    string newUser = Request["newUser"];
    string newPassword = Request["NewPass"];
    int messageVisable = 0;
    if (IsPost)
    {
        if(login != null && password !=null)
        {
            XmlDocument loginDoc = new XmlDocument();
            loginDoc.Load("C:/Users/alexg/OneDrive/Documents/Visual Studio 2015/WebSites/Project1/Login/users.xml");
            XmlNodeList elemList = loginDoc.GetElementsByTagName("login");
            for(int i = 0; i < elemList.Count; i++)
            {
                string text = (elemList[i].InnerXml);
                if (text.Equals(login))
                {
                    XmlNodeList elemListPass = loginDoc.GetElementsByTagName("password");
                    if (password.Equals(elemListPass[i].InnerXml))
                    {
                        loginSuccess = "You've been Logged In!";
                        signUpMessage = "";
                        messageVisable = 1;

                    }
                }
            }

            if(messageVisable == 1)
            {
                loginSuccess = "You've been Logged In!";
                signUpMessage = "";

            }
            else
            {
                loginSuccess = "User has typed an incorrectusername or password";

            }

        }
        if (newName != "" && newUser != "" && newPassword != "")
        {
            int noName = 0;
            XmlDocument loginDoc = new XmlDocument();
            loginDoc.Load("C:/Users/alexg/OneDrive/Documents/Visual Studio 2015/WebSites/Project1/Login/users.xml");
            XmlNodeList elemList = loginDoc.GetElementsByTagName("login");
            for (int i = 0; i < elemList.Count; i++)
            {
                string text = (elemList[i].InnerXml);
                if (text.Equals(newUser))
                {
                    loginSuccess = "Username Already Exists";
                    messageVisable = 1;
                    noName = 1;
                }

            }
            if (noName == 0)
            {
                XmlNode root = loginDoc.DocumentElement;
                XmlNode userNode = loginDoc.CreateNode("element", "ActiveUsers", "");
                XmlNode loginNode = loginDoc.CreateNode("element", "login", "");
                loginNode.InnerText = newUser;
                userNode.PrependChild(loginNode);
                XmlNode passwordNode = loginDoc.CreateNode("element", "password", "");
                passwordNode.InnerText = newPassword;
                userNode.PrependChild(passwordNode);
                XmlNode nameNode = loginDoc.CreateNode("element", "user", "");
                nameNode.InnerText = newName;
                userNode.PrependChild(nameNode);


                root.InsertAfter(userNode, root.LastChild);
                loginDoc.Save("C:/Users/alexg/OneDrive/Documents/Visual Studio 2015/WebSites/Project1/Login/users.xml");
                loginSuccess = "You're account has been created!";
                signUpMessage = "";
                messageVisable = 1;
            }

        }

    }

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/Scripts/jqueryMobile/jquery.mobile-1.4.5.css" />
    <link rel="stylesheet" href="~/Style/cssStyle.css">
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jqueryMobile/jquery.mobile-1.4.5.js"></script>
    <script src="~/Scripts/jqueryMobile/jquery.mobile-1.4.5.min.js"></script>
    <title>Welcome To Another Random Movie Site!</title>
</head>
<body>

    <div data-role="page" data-theme="b" class="mainPage">
        <div data-role="header" class="head">
            <h1><b>A Very Special Movie Site</b></h1><a href="~/Default.cshtml" data-icon="home" class="ui-btn-left">Home</a>
            <div data-role="navbar">
                <ul>
                    <li><h3 class="listItem"><a href="~/News.cshtml">News</a></h3></li>
                    <li><h3 class="listItem"><a href="~/Reviews.cshtml">Reviews</a></h3></li>
                    <li><h3 class="listItem"><a href="~/Articles.cshtml">Very Smart Articles</a></h3></li>
                </ul>
            </div>
        </div>

        <div data-role="content">
            <form method="post">
                <label for="loginText">Login</label>
                <div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset ui-input-has-clear">
                    <input type="text"  id="inputLogin" name="inputLogin" placeholder="Insert Login Name">
                   
                </div>
                <label for="passwordText">Password</label>
                <div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset ui-input-has-clear">
                    <input type="password"  id="InsertPassword" name="InsertPassword" placeholder="Insert Password">
                   
                </div>
                <input type="submit" value="Login" >
            </form>
            <a href="#signUp" style="text-align:center"  data-rel="popup" data-position-to="window" data-transition="pop">@signUpMessage</a>
            <p style="text-align:center">@loginSuccess</p>

           

            <div data-role="popup" id="signUp" data-theme="b">
                <form method="post">
                    <div style="padding:15px 20px;">
                        <h3>Please Enter Your Information:</h3>
                        <label for="un" class="ui-hidden-accessible"></label>
                        <input type="text" name="newName" id="newName" value="" placeholder="Enter Name:" data-theme="b">
                        <label for="un" class="ui-hidden-accessible"></label>
                        <input type="text" name="newUser" id="newUser" value="" placeholder="Enter a Username:" data-theme="b">
                        <label for="pw" class="ui-hidden-accessible"></label>
                        <input type="password" name="newPass" id="newPass" value="" placeholder="Enter a Password:" data-theme="b">
                        
                    </div>
                    <input type="submit" value="Create Account">
                </form>


            </div>
        </div>




    </div>

</body>
</html>
