<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/Scripts/jqueryMobile/jquery.mobile-1.4.5.css" />
    <link rel="stylesheet" href="~/Style/cssStyle.css">
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jqueryMobile/jquery.mobile-1.4.5.js"></script>
    <script src="~/Scripts/jqueryMobile/jquery.mobile-1.4.5.min.js"></script>
    <title>Welcome To Another Random Movie Site!</title>
</head>
<body>

    <div data-role="page" data-theme="b" class="mainPage">
        <div data-role="header" class="head">
            <h1><b>A Very Special Movie Site</b></h1><a href="~/Login.cshtml" data-icon="gear" class="ui-btn-right">Login</a>
            <div data-role="navbar">
                <ul>
                    <li><h3 class="listItem"><a href="~/News.cshtml">News</a></h3></li>
                    <li><h3 class="listItem"><a>Reviews (Coming Soon!)</a></h3></li>
                    <li><h3 class="listItem"><a href="~/Articles.cshtml">Very Smart Articles</a></h3></li>
                </ul>
            </div>
        </div>

        <div data-role="content">
            <p style="text-align: left">TOP STORIES</p>
            <div class="headLineText">OSCARS 2017</div>
            <img style="text-align:center" src="~/Style/Images/oscar_recap_0227.jpg" /><!--Image source https://espnfivethirtyeight.files.wordpress.com/2017/02/oscar_recap_0227.jpg?quality=90&strip=all&w=575&ssl=1-->
            <p style="text-align: center">Kale chips jean shorts chia drinking vinegar crucifix, mustache scenester mixtape asymmetrical cardigan polaroid photo booth. Kinfolk tousled intelligentsia squid waistcoat flannel. Authentic gastropub live-edge, gluten-free hoodie swag chicharrones affogato activated charcoal gochujang vaporware. Tilde before they sold out whatever kombucha freegan, gochujang man braid intelligentsia meditation. Brunch pitchfork small batch lyft. Waistcoat mumblecore poutine, hammock pinterest 3 wolf moon gluten-free aesthetic chicharrones tacos drinking vinegar meh. Crucifix blog pop-up, photo booth shabby chic thundercats squid vice pour-over microdosing small batch pitchfork.

Roof party wolf heirloom salvia etsy. Tattooed keffiyeh intelligentsia kitsch, XOXO messenger bag yr activated charcoal dreamcatcher scenester venmo flannel. Enamel pin pickled poke etsy. 3 wolf moon craft beer iceland, small batch austin 90's forage food truck messenger bag drinking vinegar photo booth. Gochujang yr 8-bit kale chips you probably haven't heard of them everyday carry, cornhole pok pok hella four dollar toast scenester kitsch pitchfork venmo gluten-free. 8-bit edison bulb meh sustainable, meditation live-edge single-origin coffee pop-up. Aesthetic bushwick pop-up, tbh fingerstache live-edge plaid dreamcatcher.

Meggings wayfarers tumblr hexagon mlkshk farm-to-table fingerstache, unicorn readymade tousled helvetica slow-carb cray pabst. Tote bag cardigan tilde man braid, hexagon portland blog art party fam everyday carry tattooed sriracha single-origin coffee. Freegan tofu tacos, biodiesel thundercats shoreditch asymmetrical swag YOLO chambray polaroid you probably haven't heard of them sriracha tbh bitters. Kitsch synth lo-fi live-edge. Kitsch gentrify mixtape dreamcatcher, tofu meh squid migas. Distillery activated charcoal mlkshk bushwick bitters post-ironic intelligentsia, leggings YOLO. Schlitz pickled selfies, tumblr tattooed bespoke lo-fi kitsch synth farm-to-table.

Live-edge VHS jean shorts, poke slow-carb wolf activated charcoal asymmetrical keytar. Leggings cold-pressed bicycle rights, farm-to-table single-origin coffee man braid kickstarter austin vinyl deep v pop-up bushwick. Vegan hashtag before they sold out lyft, slow-carb brunch health goth shabby chic banjo kombucha beard art party echo park. Marfa schlitz quinoa 8-bit mixtape. IPhone ethical waistcoat YOLO, vaporware tattooed chartreuse literally cornhole pickled. Yr hexagon normcore, wolf godard kombucha ugh food truck chartreuse 90's schlitz edison bulb everyday carry disrupt. Bushwick helvetica air plant, lomo vexillologist waistcoat kickstarter activated charcoal drinking vinegar echo park scenester vape.</p>
            



    </div>
</body>
</html>
